<main class="product-details__container">
  <section class="product-details__images">
    <div class="image-secondary">
      <img src="https://dummyimage.com/640/fff/aaa" alt="Product Image" />
      <img src="https://dummyimage.com/640/fff/aaa" alt="Product Image" />
      <img src="https://dummyimage.com/640/fff/aaa" alt="Product Image" />
      <img src="https://dummyimage.com/640/fff/aaa" alt="Product Image" />
      <img src="https://dummyimage.com/640/fff/aaa" alt="Product Image" />
    </div>

    <div class="image-primary">
      <img
        [src]="product?.imagenURL"
        [alt]="product?.nombre"
        onerror="this.onerror=null;
        this.src='assets/images/image-not-found.webp'"
      />
    </div>
  </section>

  <aside class="product-details__content">
    <h1 class="product-details__title">{{ product?.nombre | titlecase }}</h1>
    <p class="product-details__price">{{ product?.precio | currency }}</p>
    <p class="product-details__description">
      {{ product?.descripcion }}
    </p>

    <div class="divider"></div>

    <div class="product-details__btns">
      <div class="item-btns qty-btns">
        <button class="btn btn-secondary btn-qty">-</button>
        <span class="qty-view">1</span>
        <button class="btn btn-secondary btn-qty">+</button>
      </div>
      <button class="item-btns btn btn-primary">AGREGAR AL CARRITO</button>
      <button class="item-btns btn btn-secondary">COMPRAR AHORA</button>
    </div>
  </aside>
</main>
