<div class="cart-container">
  <div class="cart-header">
    <h1>Carrito de Compras</h1>
    <button class="checkout-button" (click)="onClose()">Cerrar</button>
  </div>
  <div class="divider"></div>

  <!-- ORDER LIST COMPONENT -->
  <app-order-list></app-order-list>

  <div class="cart-footer">
    <div class="total-container">
      <p class="total-text">Total:</p>
      <p class="total-price">$10.00</p>
    </div>
    <div class="divider"></div>
    <button class="checkout-button">Comprar</button>
  </div>
</div>
