main {
  // Ancho maximo de la pagina a 1440px y centrado
  max-width: 1440px;
  margin: 0 auto;
}

.cart-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1500;
}

app-cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
  height: 80vh;
}
