main {
  // Ancho maximo de la pagina a 1440px y centrado
  max-width: 1440px;
  margin: 0 auto;
}

.cart-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1500;
}

app-cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
  height: 80vh;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99999px;
}
