@use "../../../../assets/styles/variables" as *;


// 📦 Estilos del Footer
footer {
  background-color: lighten($primary-light, 5%);
  color: $text-dark;
  padding: 15px;
  font-size: 14px;

  padding: 3.5em;

  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    section {
      h2 {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        color: #adabab;
        font-weight: 500;
      }

      h2.nameFooter {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        font-weight: bold;
        color: $text-dark;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 2.5rem;

          a {
            text-decoration: none;
            color: $text-dark;
            transition: 0.3s;

            &:hover {
              color: $highlight;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 2rem;

    main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      section {
        width: 100%;
        text-align: center;

        h2 {
          margin-bottom: 1rem;
        }

        ul {
          li {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  footer {
    padding: 1rem;

    main {
      section {
        h2 {
          font-size: 1rem;
        }

        ul {
          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    aside {
      p {
        font-size: 0.8rem;
      }
    }
  }
}


