<footer>
  <main>
    <section>
      <h2 class="nameFooter">Jardin del Bouquet</h2>
      <p>Expresa lo que sientes.</p>
    </section>

    <section>
      <!-- Links -->
      <h2>Enlaces</h2>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/products">Catálogo</a></li>
        <li><a routerLink="/about">Nosotros</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
      </ul>
    </section>

    <section>
      <!-- Ayuda -->
      <h2>Ayuda</h2>
      <ul>
        <li><a routerLink="/f&q">Preguntas Frecuentes</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a routerLink="/terms">Términos y Condiciones</a></li>
        <li><a routerLink="/privacy">Política de Privacidad</a></li>
      </ul>
    </section>

    <section>
      <!-- Redes Sociales -->
      <h2>Redes Sociales</h2>
      <ul>
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li>
          <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </li>
        <li><a href="https://www.tiktok.com" target="_blank">TikTok</a></li>
      </ul>
    </section>
    <section></section>
  </main>

  <div class="divider"></div>

  <aside>
    <p>© 2025 Jardin del Bouquet. Todos los derechos reservados.</p>
  </aside>
</footer>
