<div class="cart-items">

  @for (cartItem of cartItems() || []; track $index) {
    <div class="cart-item">
      <img
        [src]="cartItem.product.imagenURL"
        [alt]="cartItem.product.nombre"
        class="product-image"
      />
      <div class="product-details">
        <h2 class="product-title">{{ cartItem.product.nombre | uppercase }}</h2>
        <div class="product-qty-price">
          <p class="product-quantity">Cantidad: <span class="qty-number"> {{ cartItem.quantity }} </span> </p>
          <p class="product-price">S/ {{ cartItem.product.precio }} </p>
        </div>
      </div>
      <button class="remove-button">X</button>
    </div>
  }

</div>
