.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 1.5rem;
  border-radius: 4px;
  overflow: hidden;
}

.product-details {
  flex-grow: 1;
}

.product-qty-price {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.product-title {
  font-size: 18px;
  margin: 0;
}

.product-quantity,
.product-price {
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.remove-button {
  padding: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.qty-number {
  color: #b63333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .product-details {
    width: 100%;
  }

  .product-qty-price {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .product-price {
    font-size: 1rem;
  }
}
