@use "assets/styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontPrimary;
}


// 🖥️ Estilos globales
body {
  background-color: $primary-light;
  color: $text-dark;
  margin: 0;
  padding: 0;
}

// 🌐 Estilos de enlaces
a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    color: darken($highlight, 10%);
  }
}

// 🎨 Botones generales
button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

// 🔔 Alertas y mensajes importantes
.alert {
  background-color: $warning;
  color: $text-dark;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style: none;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}
