// Fuente Global
$fontPrimary: 'Poppins', sans-serif;

// 🎨 Variables de colores
$primary-light: #fff; // Fondo principal
$bg-test: #f9f9f9;
$text-dark: #40010D; // Texto principal
$accent-medium: #A63C58; // Botones y destacados
$highlight: #F26398; // Resaltes en links/botones secundarios
$warning: #BFB636; // Alertas y pequeños acentos
